[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathspec = "*"
django-dotenv = "*"
django-seed = "*"
requests = "*"
pillow = "*"
django = "==2.2.5"
pipenv-to-requirements = "*"
django-countries = "==5.5"

[dev-packages]
awsebcli = "*"
flake8 = "*"

[requires]
python_version = "3.7"
